// helper
@use './helper/mixin';
// components
@use './components/story-card';
@use './components/story-detail';
@use './components/stories';
@use './components/input-image-with-preview';
@use './components/breadcrumb';
// variables
@use './variables/color';

//page
@use './page/auth';

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}