@use '../variables/color';

.user-profile {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 567px) {
        flex-direction: column;
    }

    &-image {
        border-radius: 100%;
        width: 340px;
        height: 340px;
        object-fit: cover;
    }

    &-name {
        font-size: 4rem;
        font-weight: bold;
        color: nth(color.$colors, random(length(color.$colors)));
    }
}