<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <nav-app appName="<%= appName %>"></nav-app>
    <main class="container" style="min-height: 100vh;">
      <ol class="breadcrumb" aria-label="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">Detail story</li>
      </ol>
      <story-detail></story-detail>
    </main>
    <footer-app appName="<%= appName %>"></footer-app>
  </body>
</html>
